.full {
     background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    padding-bottom: 100px;
}
.logo {
  max-width: 100px;
  margin-top: 15px;
  float: left;
}
.name {
  color: white;
  font-size: 70px;
  font-family: Arial;
  font-weight: 800;
  letter-spacing: 3px;
  margin-top: 150px;
}

a.res-link {
font-weight: 900;
font-size: 20px;
color: teal;
font-family: 'EB Garamond', serif;
}

.heading {
  font-family: 'EB Garamond', serif;
  color: white;
  font-style: italic;
  font-size: 24px;
  letter-spacing: 1px;
}

.nav {
  letter-spacing: 2px;
}

a:hover {
  text-decoration: none;
}

.summary {
  color: #626e82;
   font-family: 'Old Standard TT', serif;
  font-style: italic;
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 30px;
  padding: 15px;
}

.section {
 font-family: 'EB Garamond', serif;
 font-style: italic;
 color: #524e4d;
  font-size: 26px;
  margin-top: 75px;
}

.skill-icon {
  width: 60%;
}

.skill-div {
  margin-top: 25px;
}

.skill-name {
  margin-top: 15px;
  font-weight: 900;
  color: #524e4d;
  font-family: 'Old Standard TT', serif;
  font-size: 17.5px;
}

.project {
  width: 325px;
  border-radius: 6px;
}

.project-container {
  margin-top: 40px;
}

.projects-div {
  padding-bottom: 100px;
}


.project-info {
  font-style: normal;
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
  color: #524e4d;
  margin-top: 25px;
}

.icon-container {
  text-align: center;
}

.gh-icon {
  width: 40px;
  max-width: 100%;
  opacity: 0.6;
  margin-right: 5px;
}

.gh-icon:hover {
  opacity: 1;
}
.www-icon {
  width: 40px;
  max-width: 100%;
  opacity: 0.6;
}

.www-icon:hover {
  opacity: 1;
}

h2 {
  font-family: 'EB Garamond', serif;
  font-size: 26px;
  color: rgba(51,51,51,1);
  text-align: center;
  /*text-shadow: 3px 3px #93a4aa;*/
}























.contact {
  background-color: rgba(51,51,51,1);
  height: 140px;
  padding-top: 20px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.contact-icon-div {
  margin-top: -10px;
}


.contact-icon {
  margin-top: -10px;
  margin-left: 10px;
  opacity: 0.7;
}

#github-icon {
  max-width: 38px;
}

.contact-icon:hover {
  opacity: 1;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}


.contact-icon:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.project:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#email-icon {
  max-width: 40px;
}

#linkedin-icon {
  max-width: 40px;
}

.contact-text {
  color: #c0c2c6;
 font-family: 'EB Garamond', serif;
 font-style: italic;
  font-size: 26px;
  text-align: center;
}
.footer-message-div {

}
.footer-message {
margin-top: 80px;
  text-transform: uppercase;
  font-family: 'EB Garamond', serif;
  font-size: 14px;
  letter-spacing: 2px;
  color: #c0c2c6;
}
.line {
  opacity: 0.5;
  position: absolute;
  color: #c0c2c6;
  margin-left: 625px;
  margin-top: 60px;
}
.footer-email {
  max-width: 100%;
  position: absolute;
  text-decoration: none;
  font-family: Arial;
  margin-top: 40px;
  margin-left: -180px;
  font-size: 13px;
  letter-spacing: 2px;
  color: #c0c2c6;
  padding: 10px;
}
.footer-email:hover {
  color: black;
border-radius: 50px;
background-color: white;
}
footer {
  background-color: rgba(31,31,31,1);
  max-width: 100%;
  height: 190px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.resume-container{
  height: 150px;
  background-color: rgba(31,31,31,1);
}


.spacer {
  height: 75px;
}

.resume-logo {
width: 100px;
max-width: 100%;
margin-top: 25px;
}

.resume-nav {
  margin-top: -75px;
}

li {
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 2px;
  color: white;
  display: inline-flex;
  margin-right: 17px;
  padding: 5px;
  border-radius: 50px;
  float: right;
}

nav li:hover {
  color: black;
border-radius: 50px;
background-color: white;
}

